<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-full">
    <div class="flex min-h-full flex-col px-6 pt-40 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2
          class="text-left text-3xl font-semibold leading-9 tracking-tight text-gray-900"
        >
          Delete Task
        </h2>
      </div>

      <div class="mt-3 mb-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form action="" method="post">
          <p> Are you sure you want to delete {{object}}?</p>
          {{ form.as_p }}
          {% csrf_token %}
          <div class="pt-16">
            <button
              type="submit"
              class="flex w-full justify-center rounded-md bg-red-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >
              Delete
            </button>
          </div>
      </div>
    </div>
  </body>
</html>
