{% load static %}
<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css"
    />
  </head>
  <body class="h-full">
    <div class="flex min-h-full flex-col px-6 pt-40 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2
          class="text-left text-3xl font-semibold leading-9 tracking-tight text-gray-900 float-left"
        >
          Hi {{user.get_username}}
        </h2>
        <div class="text-l float-right text-red-500 mt-2.5">
          <a href="/user/logout">Log Out</a>
        </div>
      </div>
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h4 class="mt-5 text-left leading-9 text-gray-500 font-light">
          {{tasks | length}} tasks
        </h4>
      </div>

      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <ul
          class="flex flex-wrap text-sm font-medium text-center text-gray-500"
          id="myTab"
          data-tabs-toggle="#myTabContent"
          role="tablist"
        >
          <li class="mr-2" role="presentation">
            <a
              class="inline-block px-4 py-3 rounded-lg text-blue-900 "
              id="pending-tab"
              data-tabs-target="#pending"
              type="button"
              role="tab"
              aria-controls="pending"
              aria-selected="false"
              href="/tasks"
            >
              Pending
             </a>
          </li>
          <li class="mr-2" role="presentation">
            <a
              class="inline-block px-4 py-3 rounded-lg hover:text-gray-900 hover:bg-gray-100"
              id="completed-tab"
              data-tabs-target="#completed"
              type="button"
              role="tab"
              aria-controls="completed"
              aria-selected="false"
              href="/completed_tasks"
            >
              Completed
          </a>
          </li>
        </ul>
      </div>
      <div id="myTabContent" class="sm:mx-auto sm:w-full sm:max-w-sm">
        <div
          class="p-4 rounded-lg"
          id="all"
          role="tabpanel"
          aria-labelledby="all-tab"
        >
          {% for task in tasks%}
          <div
            class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8"
          >
            <div class="flow-root">
              <div class="flex items-center space-x-4">
                <div class="flex-1 min-w-0">
                  <p class="text-sm font-medium text-gray-900 truncate">
                    {% if task.completed%}
                    <div class = "text-red-500 line-through">
                      {{task}}
                    </div>
                    {% else %}
                      {{task}}
                    {% endif %}
                  </p>
                  <p class="text-sm text-gray-500 truncate">
                    {{task.created_date}}
                  </p>
                </div>
                <div
                  class="inline-flex items-center text-base font-semibold text-gray-900"
                >
                {% if task.completed%}
                {%else%}
                  <a href="/update-task/{{ task.id }}"><img src="{% static 'edit.png' %}" width="27"></a>
                  <a href="/complete_task/{{ task.id }}" class="ml-2"><img src="{% static 'complete.png' %}" width="27"></a>
                {% endif %}
                <a class = "pl-2" href="/delete-task/{{ task.id }}"><img src="{% static 'delete.png' %}" width="27"></a>
                </div>
              </div>
            </div>
          </div>
          <br />
          {% endfor%}
        </div>
        <div
          class="p-4 rounded-lg hidden"
          id="pending"
          role="tabpanel"
          aria-labelledby="pending-tab"
        >
          {% for task in tasks%} {% if task.completed %} {% else %}
          <div
            class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8"
          >
            <div class="flow-root">
              <div class="flex items-center space-x-4">
                <div class="flex-1 min-w-0">
                  <p class="text-sm font-medium text-gray-900 truncate">
                    {{task}}
                  </p>
                  <p class="text-sm text-gray-500 truncate">
                    {{task.created_date}}
                  </p>
                </div>
                <div
                  class="inline-flex items-center text-base font-semibold text-gray-900"
                >

                <a href="/update-task/{{ task.id }}"><img src="{% static 'edit.png' %}" width="27"></a>
                <a class = "pl-2" href="/delete-task/{{ task.id }}"><img src="{% static 'delete.png' %}" width="27"></a>
                <a href="/complete_task/{{ task.id }}"><img src="{% static 'complete.png' %}" width="27"></a>
                </div>
              </div>
            </div>
          </div>
          <br />
          {% endif %} {% endfor%}
        </div>
        <div
          class="p-4 rounded-lg hidden"
          id="completed"
          role="tabpanel"
          aria-labelledby="completed-tab"
        >
          {% for task in tasks%} {% if task.completed %}

          <div
            class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8"
          >
            <div class="flow-root">
              <div class="flex items-center space-x-4">
                <div class="flex-1 min-w-0">
                  <p class="text-sm font-medium text-gray-900 truncate">
                    {{task}}
                  </p>
                  <p class="text-sm text-gray-500 truncate">
                    {{task.created_date}}
                  </p>
                </div>
                <div
                  class="inline-flex items-center text-base font-semibold text-gray-900"
                >
                <a class = "pl-2" href="/delete-task/{{ task.id }}"><img src="{% static 'delete.png' %}" width="27"></a>
                </div>
              </div>
            </div>
          </div>
          <br />
          {% endif %} {% endfor%}
        </div>
        <div class="pt-10 pb-20">
          <a href="/create-task/"><button class="flex w-full justify-center rounded-md bg-red-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add</button></a>
        </div>
      </div>
    </div>
  </body>
  <script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>
</html>
